<div class="bio row">
  <div class="bio__summary
              col-sm-8 col-sm-offset-2
              col-md-6 col-md-offset-3
              col-lg-4 col-lg-offset-4">
    <%= image_tag 'cbetta.jpg', class: 'bio__avatar' %>

    <h1 class="bio__name">
      Cristiano Betta
    </h1>

    <p>
      Senior Developer Advocate at <a href="http://braintreepayments.com">
      Braintree</a>, event organiser at <a href="http://geeksoflondon.com">
      Geeks of London</a>. Board certified geek.
    </p>

    <p>
      Loves to code in Ruby, Rails &amp; JS. Appreciates web standards,
      continuous integration, distributed version control systems, test driven development, and coffee.
    </p>
  </div>
</div>
