<div class="ui fluid vertical labeled icon buttons">
  <% items.each do |item| %>
    <div class="ui <%= item[:color] %> button">
      <i class="<%= item[:icon] %> icon"></i>
      <%= item[:title] %>
    </div>
  <% end %>
</div>

<br>
