%br

.ui.tiny.attached.icon.message
  %i.announcement.icon
  .content
    .header
      Hire me for your Developer Experience needs
    At
    %a{ src: "http://hoopy.io" } Hoopy
    we specialize in end-to-end Developer Relations, Experience, and Marketing consulting.
.ui.attached.segment
  %a.ui.basic.fluid.right.labeled.icon.button{ href: 'https://hoopy.io' }
    %i.external.icon
    Book an initial consultation
