<% unless current_page.data.hide_nav %>
<nav class='navigation row'>
  <div class="col-xs-12">
    <h1>
      <a class="navigation__brand"
         href="/">Cristiano Betta</a>
    </h1>
  </div>
  <div class="col-xs-12">
    <%= partial 'partials/navigation_links' %>
  </div>
</nav>
<% end %>
