#desktop-menu.ui.secondary.pointing.menu
  .ui.text.container
    %a.item.toc
      %i.sidebar.icon
    %a.item.image.floated.right
      .ui.logo.icon.image{href: '/'}
        = image_tag 'cb.jpg'
    %a.item.name{href: '/', class: active('/', true)}
      %strong Cristiano
      &nbsp;
      %em Betta
    %a.item{href: "/blog", class: active('/blog')}
      %i.icon.quote.left
      Blog
    .ui.dropdown.item
      %i.icon.code
      Work
      %i.icon.dropdown
      .menu
        %a.item{href: "https://work.betta.io"}
          %i.icon.doctor
          Developer Experience
        %a.item{href: "/talks"}
          %i.icon.comment.outline
          Public Speaking
        %a.item{href: "/galleries"}
          %i.icon.camera
          DX Design Patterns
        %a.item{href: "https://work.betta.io"}
          %i.icon.diamond
          Hire Me
    .ui.dropdown.item
      %i.icon.linkify
      Online
      %i.icon.dropdown
      .menu
        %a.item{href: "https://twitter.com/cbetta"}
          %i.icon.twitter
          Twitter
        %a.item{href: "https://facebook.com/cbetta"}
          %i.icon.facebook
          Facebook
        %a.item{href: "https://github.com/cbetta"}
          %i.icon.github
          GitHub
        %a.item{href: "https://linkedin.com/in/cbetta"}
          %i.icon.linkedin
          LinkedIn
        %a.item{href: "https://youtube.com/cbetta"}
          %i.icon.youtube
          YouTube
    .right.menu
      .ui.search.item
        .ui.icon.mini.input
          %input.prompt{:placeholder => "Search", :type => "text"}/
          %i.search.icon
        .results