<nav class='navigation row'>
  <% if current_page.path != 'index.html' %>
  <div class="col-xs-12">
      <a class="navigation__brand"
         href="/">Cristiano Betta</a>
  </div>
  <% end %>
  <div class="col-xs-12">
    <ul class='navigation__links'>
      <li>
        <a href="/blog/">Blog</a>
        <a href="/code/">Code</a>
        <a href="http://resume.linkedinlabs.com/tuzpn3khk">Resume</a>
        <a href="mailto:hi@betta.io">Say&nbsp;Hi!</a>
      </li>
    </ul>
  </div>
</nav>
