<ul class='navigation__links'>
  <li>
    <a href="/blog/">Blog</a>
  </li>
  <li>
    <a href="/code/">Code</a>
  </li>
  <li>
    <a href="http://resume.linkedinlabs.com/tuzpn3khk">Resume</a>
  </li>
  <li>
    <a href="mailto:hi@betta.io">Say&nbsp;Hi!</a>
  </li>
</ul>
