<ul class='navigation__links'>
  <% unless root? %>
  <li>
    <a href="/" class='brand'>
      <strong>Cristiano</strong> Betta
    </a>
  </li>
  <% end %>
  <li>
    <%= link_to '&#9776;&nbsp;Blog', '/blog/index.html' %>
  </li>
  <li>
    <%= link_to '&#9778;&nbsp;Hire Me', '/code.html' %>
  </li>
  <li>
    <a class='collapse' href="https://linkedin.com/in/cbetta">&#9781;&nbsp;LinkedIn</a>
  </li>
  <li>
    <a class='collapse' href="mailto:cristiano@betta.io">&#9783;&nbsp;Email</a>
  </li>

</ul>
