<nav class='navigation row'>
  <div class="col-xs-12 col-sm-3">
    <% if current_page.path != 'index.html' %>
      <a class="navigation__brand"
         href="/">Cristiano Betta</a>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <ul class='navigation__links'>
      <li>
        <a href="/blog">Blog</a>
        <a href="https://github.com/cbetta">Code</a>
        <a href="http://resume.linkedinlabs.com/">Resume</a>
        <a href="mailto:hi@betta.io">Say Hi!</a>
      </li>
    </ul>
  </div>
</nav>
