%br

.ui.tiny.attached.icon.message
  %i.inbox.icon
  .content
    .header
      Subscribe to new articles
    %p
      No more than 1 update a month. Most likely way fewer.
.ui.attached.segment
  %form.ui.mini.form{:action => "http://dx.betta.io/email_subscribers", :method => "post", :onsubmit => "window.open('http://dx.betta.io/email_subscribers, 'popupwindow', 'scrollbars=yes,width=800,height=600');return true", :target => "popupwindow"}
    .field
      .ui.action.input
        %input#tlemail{:placeholder => "Email Address", :name => "email", :type => "text"}
        %button.ui.secondary.basic.button
          Subscribe

%br
%br
