%br

.ui.tiny.attached.icon.message
  %i.inbox.icon
  .content
    .header
      Subscribe to new articles
    %p
      No more than 2 updates a month
.ui.attached.segment
  %form.ui.mini.form{:action => "https://tinyletter.com/bettaio", :method => "post", :onsubmit => "window.open('https://tinyletter.com/bettaio', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true", :target => "popupwindow"}
    .field
      .ui.action.input
        %input#tlemail{:placeholder => "Email Address", :name => "email", :type => "text"}
        %button.ui.secondary.basic.button
          Subscribe

%br
%br
