#sidebar.ui.vertical.inverted.sidebar.menu
  .item
    %a.ui.logo.icon.image{href: '/'}
      = image_tag 'cb-white.jpg'
    %a.name{href: '/'}
      %strong Cristiano
      Betta
  .ui.search.item
    .ui.icon.mini.input
      %input.prompt{:placeholder => "Search", :type => "text"}/
      %i.search.icon
    .results
  %a.item{href: "/blog"}
    %i.icon.quote.left
    Blog
  .ui.item
    %i.icon.code
    Work
    .menu
      %a.item{href: "https://work.betta.io"}
        %i.icon.doctor
        Developer Experience
      %a.item{href: "/talks"}
        %i.icon.comment.outline
        Public Speaking
      %a.item{href: "/galleries"}
        %i.icon.camera
        DX Design Patterns
  .ui.item
    %i.icon.linkify
    Online
    .menu
      %a.item{href: "https://twitter.com/cbetta"}
        %i.icon.twitter
        Twitter
      %a.item{href: "https://facebook.com/cbetta"}
        %i.icon.facebook
        Facebook
      %a.item{href: "https://github.com/cbetta"}
        %i.icon.github
        GitHub
      %a.item{href: "https://linkedin.com/in/cbetta"}
        %i.icon.linkedin
        LinkedIn
      %a.item{href: "https://youtube.com/cbetta"}
        %i.icon.youtube
        YouTube
  %a.ui.right.inverted.item{href: "https://work.betta.io"}
    %i.icon.diamond
    Hire me
