#sidebar.ui.vertical.inverted.sidebar.menu
  .item
    %a.ui.logo.icon.image{href: '/'}
      = image_tag 'cb-white.jpg'
    %a.name{href: '/'}
      %strong Cristiano
      Betta
  %a.item{href: "/blog"}
    %i.icon.quote.left
    Blog
  .ui.item
    %i.icon.code
    Work
    .menu
      %a.item{href: "https://work.betta.io"}
        %i.icon.diamond
        Ruby Contracting
      %a.item{href: "https://work.betta.io"}
        %i.icon.doctor
        DevRel Consulting
      %a.item{href: "/talks"}
        %i.icon.comment.outline
        Public Speaking
  .ui.item
    %i.icon.linkify
    Online
    .menu
      %a.item{href: "https://twitter.com/cbetta"}
        %i.icon.twitter
        Twitter
      %a.item{href: "https://github.com/cbetta"}
        %i.icon.github
        GitHub
      %a.item{href: "https://linkedin.com/in/cbetta"}
        %i.icon.linkedin
        LinkedIn
  %a.ui.right.inverted.item{href: "https://work.betta.io"}
    %i.icon.diamond
    Hire me
