---
pageable: true
per_page: 5
layout: blog
---

<% page_articles.each_with_index do |article, i| %>
  <div class="article">
    <%= partial 'partials/article-title', locals: { article: article } %>

    <%= article.summary %>

    <p>
      <%= link_to "...", article, class: 'article__more' %>
    </p>
  </div>
<% end %>


<%= partial 'partials/pagination', locals: { prev_page: prev_page, next_page: next_page } %>
