---
layout: page
hide_nav: true
hide_bio: true
---

<h2>404 - Nothing here...</h2>

<p>
  Better shuttle off <%= link_to 'to safety', '/' %>.
</p>

<!--

                              _____
                            /   \\  \
                          /       \\  \
                        /           \\  \
                      /              \\   \
                    /                 \\    \
                   /                   \\    \
                  /                     \\    \
                 /                       \\    \
                /                         \\    \
         ^     /                           \\    \     ^
        / \   /                              |    \   / \
       /   \  |                              |    |  /   \
      /_____\ |                              |    | /-----\
     ||||||||||                              |    ||||||||||
     |       ||                ___           |    ||       |
     |       ||              //|||\\         |    ||       |
     |       ||             ///|||\\\        |    ||       |
     |       ||            /---------\       |    ||       |
     |       ||           /    ooo    \      |    ||       |
     |-------||          /             \     |    ||-------|
     |       ||         /   //-----\\   \    |    ||       |
     |       ||         .  //__|-|__\\  .    |    ||       |
     |       ||         | //\/     \/\\ |    |    ||       |
     |       ||         |  --       --  |    |    ||       |
     |       ||         |               |    |    ||       |
     |       ||         |    _     _    |    |    ||       |
     |       ||         |   (_)   (_)   |    |    ||       |
     |       ||         |_______________|    |    ||       |
     |-------||         |       |       |    |    ||-------|
     |       ||        /|       |       |\   |    ||       |
     |       ||       //|       |       |\\  |    ||       |
     |       ||      ///|_______|_______|\\\ |    ||       |
     |       ||     /// |       |       | \\\|    ||       |
     |       ||    ///  |       |       |  \\\    ||       |
     |       ||   ///   |       |       |   \\\   ||       |
     |       ||  ///    |_______|_______|    \\\  ||       |
     |-------|| ///     |       |       |     \\\ ||-------|
     |       ||///      |       |       |      \\\||       |
     |       |///       |       |       |       \\\|       |
     |       ///        |_______|_______|        \\\       |
     |      ///         |       |       |         \\\      |
     |    ///           |       |       |           \\\    |
     |  ///             |       |       |             \\\  |
     |///   U S A       |       |       |     N A S A   \\\|
    ///     [*]==       |---------------|                 \\\
  ///       =====     /       \|||/       \   DISCOVERY     \\\
///         =====    /         |||         \                  \\\
//                             |||                             \\
||__________________|          |||          |__________________||
|||||||||||||||||||||          |||          |||||||||||||||||||||
|        ||         |          |||          |         ||        |
 \_______||_________|          |||          |_________||_______/
     |       |      |          |||          |      |       |
     |-------|       \_________|||_________/       |-------|
     |-------|       /-------/-|||-\-------\       |-------|
     |-------|    //           |||           \\    |-------|
     |---|||-|   /    /    /    |    \    \    \   |-|||---|
     /_______\   /  // /  /   |   |   \  \ \\  \   /_______\
    ***********   / //     \ \  | |  / /     \\ \ ***********
   *************  \ \ |  / \  \ | /  / \  | / /  *************
  ***************  \ \ //  \    |   /   \\ / /  ***************
 *****************  \  /     \ \ / /     \  /  *****************
 ******************  \/       \ | /       \/    ***************
******************** ||        \ /        ||   *****************
 ******************   |        \ /        |     ***************
********************           | |             *****************

-->
