---
default_description: Developer Experience Galleries
layout: default
---

- info = data.galleries[gallery]
%h3.ui.divider

%h1.ui.header
  = info['title']

%p= info['long_description']

%h3.ui.divider


.ui.two.column.grid
  - info.screenshots.each do |name, screenshot|
    = partial 'partials/gallery_item', locals: { name: name, screenshot: screenshot }

%br
%br
%br
%br

%h3.ui.divider.horizontal Other Topics

%br

.ui.two.column.grid
  - data.galleries.each do |key, value|
    = partial 'partials/gallery_index_item', locals: { name: key, category: value }

%h2.ui.horizontal.divider
