---
title: Developer Experience Design Patterns
---

%h3.ui.divider

%h1.ui.header
  Developer Experience Design Patterns

%p
  As part of my series of
  %a{ href: '/blog/categories/developer-experience/' } Developer Experience
  I've started to take a lot of screenshots of different parts of a developer experience UI. I've decided to collect some of these across the different products focussing on specific elements.

%p I hope this allows you to see how different products have tackled the same problems in their own ways.

%br
%br

%h3.ui.divider.horizontal Topics

%br

.ui.two.column.grid
  - data.galleries.each do |key, value|
    .column
      .ui.fluid.card
        %a.image{ href: "/galleries/#{key}"}
          %img.lazy{"data-src" => value['screenshots'].first.last, src: '/images/dx/lazy.png' }
        .content
          .header
            = value['title']
          .description
            = value['description']
        .extra.content
          %span.right.floated
            %i.camera.icon
            = pluralize(value['screenshots'].count, 'screenshot')

%h2.ui.horizontal.divider
