body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cutive Mono', "Lucida Console", Monaco, monospace;
  font-weight: bold;
}

.container {
  padding-top: 8em;
  padding-bottom: 8em;
  position: relative;
}

a {
  color: #2E58A1;
}
