body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cutive Mono', "Lucida Console", Monaco, monospace;
  font-weight: bold;
}

a {
  color: #2E58A1;
}

.navigation__links {
  list-style: none;
  padding: 0;

}

.container--content {
  padding-top: 8em;
  padding-bottom: 3em;
  position: relative;
}

.container--fixed {
  position: fixed;
  text-align: center;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 10;
  width: 100%;
  overflow: auto;
  -webkit-box-shadow: 10px 0.5em 4em #fff;
  -moz-box-shadow: 10px 0.5em 4em #fff;
  box-shadow: 10px 0.5em 4em #fff;
}
