.article-info {
  margin-bottom: 3em !important;
}

blockquote {
  margin-left: 0;
  padding-left: 2em;
  border-left: 3px solid #ddd;
}

#disqus_thread {
  margin: 4em 0;
}

h1 {
  text-align: center;
}

.ui.label {
  margin-bottom: 1em;
}

.pagination {
  margin-bottom: 3em !important;
}

@media (min-width: 660px) {
  .article-icon {
    margin-top: 3em !important;
  }
}
