.article-icon {
  margin-top: 3em !important;
}

.article-info {
  margin-bottom: 3em !important;
}

blockquote {
  margin-left: 0;
  padding-left: 2em;
  border-left: 3px solid #ddd;
}

#disqus_thread {
  margin: 4em 0;
}
