.highlight code {
  line-height: 1.5em;
  font-size: 14px;
}

p > code {
  background-color: #f0f0f0;
  padding: 0 0.3em;
  display: inline-block;
}

.highlight pre.highlight {
  overflow-x: auto;
}

.highlight pre.highlight code {
  margin-bottom: -1em;
}
