.highlight {
  margin: 2em 0;
  overflow: scroll;
}

.highlight code {
  font-family: 'Cutive Mono', "Lucida Console", Monaco, monospace;
  line-height: 1.5em;
  font-size: 14px;
}

.highlight pre {
  border: 0;
  background-color: #f8f8f8;
}
