.navigation {
  top: 2em;
  position: absolute;
  width: 100%;
  line-height: 1.6em;
}

.navigation h1 {
  margin-top: 0;
}

.navigation__brand {
  display: block;
  color: black;
  font-weight: bold;
  font-size: 0.7em;
  padding-top: 0em !important;
  font-family: 'Cutive Mono', "Lucida Console", Monaco, monospace;
}

.navigation__links {
  width: 100%;
  display: block;

  li {
    display: inline;
    a {
      padding: 0 1em;
      font-family: 'Cutive Mono', "Lucida Console", Monaco, monospace;
    }
  }

  li:first-child a {
    padding-left: 0;
  }

  li:last-child a {
    padding-right: 0;
  }
}

.bio .navigation__links {
  margin: 0 0 2em 0;
  text-align: center;
}

@media (max-width: 500px) {
  .navigation__links {
    li a {
      padding: 0 0.5em;
    }
  }
}
