.navigation {
  overflow: auto;
  width: 100%;
  line-height: 0.6em;
  margin: 0.5em 0 0.5em 0;
}

.navigation h1 {
  margin-top: 0;
}

.navigation__brand {
  display: block;
  color: black;
  font-weight: bold;
  font-size: 0.6em;
  padding-top: 0em !important;
  font-family: 'exolight', "Lucida Console", Monaco, monospace;
}

.navigation__links {
  width: 100%;
  display: block;
  line-height: 1.3em;

  li {
    display: inline;
    a {
      display: inline;
      padding: 0 2em 0 0;
      font-family: 'exolight', "Lucida Console", Monaco, monospace;
    }

    a.brand {
      color: black;
      font-family: 'exolight', "Lucida Console", Monaco, monospace;

      strong {
        font-family: 'exobold', "Lucida Console", Monaco, monospace;
      }
    }
  }

}

.bio .navigation__links {
  margin: 0 0 2em 0;
  text-align: left;
}

.blog .navigation__links a:not(.brand) {
  font-size: 0.8em;
}

@media (max-width: 1200px){
  .blog, .code {
    .navigation__links a:not(.brand) {
      font-size: 0.7em;
    }
  }

  .index .navigation__links a:not(.brand) {
    font-size: 0.9em;
  }
}

@media (max-width: 610px){
  .blog, .code {
    .navigation__links a:not(.brand) {
      padding: 0 0.5em 0 0;
    }
  }

  .blog, .code {
    .navigation__links .collapse {
      display: none;
    }
  }
}
