.navigation {
  top: 2em;
  position: absolute;
  width: 100%;
  line-height: 1.6em;
}

.navigation h1 {
  margin-top: 0;
}

.navigation__brand {
  display: block;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 0.7em;
  padding-top: 0em !important;
  font-family: 'Cutive Mono', "Lucida Console", Monaco, monospace;
}

.navigation__links {
  width: 100%;
  display: block;
  text-align: center;

  li {
    display: inline;
    a {
      padding: 0 1em;
      font-family: 'Cutive Mono', "Lucida Console", Monaco, monospace;
    }
  }
}

@media (max-width: 500px) {
  .navigation__links {
    li a {
      padding: 0 0.5em;
    }
  }
}
